<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CademSmart B2B</title>
    <style type="text/css">
        body {
            margin: 20px;
            background: #fafafa;
            font-family: sans-serif;
            font-size: 1.5em;
            color: #3b4151;
        }
        .link {
            font-size: 0.7em;
        }
        .header {
            width: auto;
            display: block;
        }
    </style>
</head>
<body>
    <div class="header">
        <div>
            <h2>CADEM B2B API Endpoints </h2>
        </div>
        <div>
            <small4>Versión 1.0</small4>
        </div>
    </div>
    <p>
        Este proyecto tiene desarrollado dos endpoints o microservicios:
        <br/>
        <ol>
            <li>Microservicio Cálculo Venta Volumen.</li>
            <li>Microservicio Cálculo DOH - INSTOCK.</li>
        </ol>
    </p>
    <p>
        <span class="link">
            Para probar los endpoints, haga clic en el siguiente enlace para ir a la <a href="/api/docs">Documentación interactiva del APIs</a>
        </span>
    </p>
    <p>
        <span class="link">Autor: Jose Ramón Vidal Wilson</span><br/>
        <span class="link">Email: <a href="mailto:jramonholy@gmail.com?subject=Hi% 'Hi!'">jramonholy@gmail.com</a></span>
    </p>
</body>
</html>